# THÔNG TIN THÀNH VIÊN

| MSSV | HỌ VÀ TÊN |
|:------:|:--------:|
|18120184 |	Nguyễn Nguyên Khang |
|18120210 | Phạm Tống Bình Minh |
|18120237 | Bạch Tăng Thắng |
|18120264 | Nguyễn Duy Vũ |
|18120283 | Nguyễn Chiêu Bản |

# import

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Set Option
pd.set_option('max_colwidth', 10000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# Đọc dữ liệu

In [3]:
df = pd.DataFrame()
for i in range(1,64):
    df = df.append(pd.read_csv(f'Data/{i}.csv'),ignore_index = True, sort= False)

# Khám phá dữ liệu

In [4]:
df.head()

       SBD  TOÁN  VĂN    LÝ   HÓA  SINH    SỬ   ĐỊA  GDCD  ANH  KHTN  KHXH  KHỐI A  KHỐI B  KHỐI C KHỐI D  KHỐI A1
0  1063438   3.0  3.5  2.75  3.25  2.75  2.50  5.50  5.50  2.6  2.92  4.50     9.0    9.00   11.50    9.1     8.35
1  1063463   4.0  3.0  2.75  3.75  4.50  1.50  5.00  5.75  3.0  3.67  4.08    10.5   12.25    9.50     10     9.75
2  1063464   5.0  3.0  3.75  2.25  3.50  3.50  5.75  5.75  3.0  3.17  5.00    11.0   10.75   12.25     11    11.75
3  1063470   2.6  4.5  2.00  3.50  3.25  1.75  4.25  6.25  3.0  2.92  4.08     8.1    9.35   10.50   10.1     7.60
4  1063477   3.2  5.0  2.00  3.00  3.00  2.50  4.00  7.00  3.4  2.67  4.50     8.2    9.20   11.50   11.6     8.60

In [5]:
#Xem kích thước dữ liệu và kiểu dữ liệu của từng cột
print(df.shape)
print(df.info())

(844122, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 844122 entries, 0 to 844121
Data columns (total 17 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   SBD      844122 non-null  int64
 1   TOÁN     840264 non-null  float64
 2   VĂN      826061 non-null  float64
 3   LÝ       361908 non-null  float64
 4   HÓA      365827 non-null  float64
 5   SINH     357544 non-null  float64
 6   SỬ       512711 non-null  float64
 7   ĐỊA      497523 non-null  float64
 8   GDCD     434021 non-null  float64
 9   ANH      745755 non-null  float64
 10  KHTN     352736 non-null  float64
 11  KHXH     428493 non-null  float64
 12  KHỐI A   359525 non-null  float64
 13  KHỐI B   357439 non-null  float64
 14  KHỐI C   496866 non-null  float64
 15  KHỐI D   741766 non-null  object
 16  KHỐI A1  344135 non-null  float64
dtypes: float64(15), int64(1), object(1)
memory usage: 109.5+ MB
None

In [6]:
#Xem các dữ liệu có trùng nhau không
dups = df.pivot_table(index = ['SBD'], aggfunc ='size')
print(dups[dups>1])

SBD
40000001    2
40000002    2
40000003    2
40000004    2
40000005    2
           ..
40022184    2
40022185    2
40022186    2
40022187    2
40022188    2
Length: 22035, dtype: int64

In [7]:
# Xem 1 dòng dữ liệu trùng nhau
df[df['SBD'] == 40000005]

             SBD  TOÁN  VĂN  LÝ  HÓA  SINH    SỬ   ĐỊA  GDCD  ANH  KHTN  KHXH  KHỐI A  KHỐI B  KHỐI C KHỐI D  KHỐI A1
246856  40000005   6.0  6.0 NaN  NaN   NaN  3.75  6.25  8.25  6.2   NaN  6.08     NaN     NaN    16.0   18.2      NaN
573528  40000005   6.0  6.0 NaN  NaN   NaN  3.75  6.25  8.25  6.2   NaN  6.08     NaN     NaN    16.0   18.2      NaN

In [8]:
# Xóa dữ liệu trùng nhau (dữ liệu trùng nhau gây ra bởi file 14.csv)
df.drop_duplicates(inplace=True)

In [9]:
# Thêm cụm thi vào dataframe
dict_cumthi = {1: "Hà Nội",2: "TP. Hồ Chí Minh",3: "Hải Phòng",4: "Đà Nẵng",5: "Hà Giang",6: "Cao Bằng",7: "Lai Châu",8: "Lào Cai",9: "Tuyên Quang",10: "Lạng Sơn",11: "Bắc Kạn",12: "Thái Nguyên",13: "Yên Bái",14: "Sơn La",15: "Phú Thọ",16: "Vĩnh Phúc",17: "Quảng Ninh",18: "Bắc Giang",19: "Bắc Ninh",21: "Hải Dương",22: "Hưng Yên",23: "Hoà Bình",24: "Hà Nam",25: "Nam Định",26: "Thái Bình",27: "Ninh Bình",28: "Thanh Hoá",29: "Nghệ An",30: "Hà Tĩnh",31: "Quảng Bình",32: "Quảng Trị",33: "Thừa Thiên -Huế",34: "Quảng Nam",35: "Quảng Ngãi",36: "Kon Tum",37: "Bình Định",38: "Gia Lai",39: "Phú Yên",40: "Đắk Lắk",41: "Khánh Hoà",42: "Lâm Đồng",43: "Bình Phước",44: "Bình Dương",45: "Ninh Thuận",46: "Tây Ninh",47: "Bình Thuận",48: "Đồng Nai",49: "Long An",50: "Đồng Tháp",51: "An Giang",52: "Bà Rịa-Vũng Tàu",53: "Tiền Giang",54: "Kiên Giang",55: "Cần Thơ",56: "Bến Tre",57: "Vĩnh Long",58: "Trà Vinh",59: "Sóc Trăng",60: "Bạc Liêu",61: "Cà Mau",62: "Điện Biên",63: "Đăk Nông",64: "Hậu Giang",65: "Cục Nhà trường - Bộ Quốc phòng"}
df["Cụm thi"] = df["SBD"].apply(lambda x: dict_cumthi[int(x/1_000_000)])

In [10]:
# Xem số lượng thí sinh ở từng cụm
df.groupby(["Cụm thi"])["SBD"].agg('count')

Cụm thi
An Giang           16359
Bà Rịa-Vũng Tàu    11846
Bình Dương         11313
Bình Phước         10219
Bình Thuận         11716
Bình Định          17785
Bạc Liêu            5370
Bắc Giang          19612
Bắc Kạn             2866
Bắc Ninh           14815
Bến Tre            11740
Cao Bằng            4571
Cà Mau              9275
Cần Thơ            13068
Gia Lai            12825
Hoà Bình            8952
Hà Giang            3099
Hà Nam              8685
Hà Nội             79092
Hà Tĩnh            16330
Hưng Yên           12888
Hải Dương          19973
Hải Phòng           5099
Hậu Giang           6190
Khánh Hoà          13500
Kiên Giang         13482
Kon Tum             4445
Lai Châu            3232
Long An            14065
Lào Cai             6199
Lâm Đồng           14985
Lạng Sơn            9013
Nam Định            5099
Nghệ An              199
Ninh Bình           9612
Ninh Thuận          5774
Phú Thọ            13699
Phú Yên            10731
Quảng Bình          9623
Quảng Nam          17532
Quảng Ngãi         12631
Quảng Ninh         14690
Quảng Trị           7889
Sóc Trăng           9334
TP. Hồ Chí Minh    78321
Thanh Hoá          14099
Thái Bình          21435
Thái Nguyên        14449
Thừa Thiên -Huế    12387
Tiền Giang         14106
Trà Vinh            8183
Tuyên Quang         7638
Tây Ninh            8858
Vĩnh Long          10571
Vĩnh Phúc          12602
Yên Bái             7022
Điện Biên           5481
Đà Nẵng             6099
Đăk Nông            6361
Đắk Lắk            22035
Đồng Nai           28651
Đồng Tháp          14367
Name: SBD, dtype: int64

In [11]:
df

             SBD  TOÁN   VĂN    LÝ   HÓA  SINH    SỬ   ĐỊA  GDCD  ANH  KHTN  KHXH  KHỐI A  KHỐI B  KHỐI C KHỐI D  KHỐI A1 Cụm thi
0        1063438   3.0  3.50  2.75  3.25  2.75  2.50  5.50  5.50  2.6  2.92  4.50    9.00    9.00   11.50    9.1     8.35  Hà Nội
1        1063463   4.0  3.00  2.75  3.75  4.50  1.50  5.00  5.75  3.0  3.67  4.08   10.50   12.25    9.50     10     9.75  Hà Nội
2        1063464   5.0  3.00  3.75  2.25  3.50  3.50  5.75  5.75  3.0  3.17  5.00   11.00   10.75   12.25     11    11.75  Hà Nội
3        1063470   2.6  4.50  2.00  3.50  3.25  1.75  4.25  6.25  3.0  2.92  4.08    8.10    9.35   10.50   10.1     7.60  Hà Nội
4        1063477   3.2  5.00  2.00  3.00  3.00  2.50  4.00  7.00  3.4  2.67  4.50    8.20    9.20   11.50   11.6     8.60  Hà Nội
...          ...   ...   ...   ...   ...   ...   ...   ...   ...  ...   ...   ...     ...     ...     ...    ...      ...     ...
844117  61002654   5.6  6.25  3.00  5.75  3.25   NaN   NaN   NaN  3.2  4.00   NaN   14.35   14.60     NaN  15.05    11.80  Cà Mau
844118  61003116   6.6  5.50  5.25  5.75  6.00   NaN   NaN   NaN  4.4  5.67   NaN   17.60   18.35     NaN   16.5    16.25  Cà Mau
844119  61003743   6.2  7.25  4.75  6.50  5.25   NaN   NaN   NaN  5.4  5.50   NaN   17.45   17.95     NaN  18.85    16.35  Cà Mau
844120  61003786   5.8  8.75   NaN   NaN   NaN  4.50  7.50  8.50  4.6   NaN  6.83     NaN     NaN   20.75  19.15      NaN  Cà Mau
844121  61003862   5.8  7.75  7.25  5.00  5.75   NaN   NaN   NaN  3.6  6.00   NaN   18.05   16.55     NaN  17.15    16.65  Cà Mau

[822087 rows x 18 columns]

In [14]:
df.to_csv('fullData.csv',index = False)

# Phân tích gian lận

Để biết được thí sinh nào gian lận trong kì thi ta cần xem các điểm bất thường sau:
- Thí sinh có điểm của một khối hay một môn nào đó chênh lệch nhiều so với trung bình của cụm thi đó hoặc chênh lệch nhiều trên cả nước
- Thí sinh có điểm môn Toán cao hơn nhiều các môn còn lại trong khối có môn toán
- ...