In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Set Option
pd.set_option('max_colwidth', 10000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [44]:
df_1 = pd.read_csv('Data/1.csv')
df_2 = pd.read_csv('Data/2.csv')
frames = [df_1,df_2]
items_df = pd.concat(frames, ignore_index=True, sort=False)
for i in range(3,63,2):
    df_1 = pd.read_csv(f'Data/{i}.csv')
    df_2 = pd.read_csv(f'Data/{i+1}.csv')
    frames = [items_df,df_1,df_2]
#     items_df = pd.concat(frames, keys = [f'{i}',f'{i+1}''])
    items_df = pd.concat(frames, ignore_index=True, sort=False)

df_1 = pd.read_csv('Data/63.csv')
frames = [items_df,df_1]
items_df = pd.concat(frames, ignore_index=True, sort=False)
# Sử dụng lệnh dưới thay vì lệnh đang dùng ở phía trên, các dataframe được gộp với nhau 
# nhưng vẫn có thể gọi riêng một dataframe thông qua key.
# Tuy nhiên chỉ số index sẽ không chạy từ 0 đến hết mà giữ nguyên ở mỗi bảng.

# items_df = pd.concat(frames, keys = [aoNganTayKhongCo', 'aoSoMi', 'baloTuiVi', 'giayDepNam', 'phuKienNam', 'Quan'])

In [71]:
# Check 3.csv
items_df[items_df['SBD'] == 3001910]

            SBD  TOÁN   VĂN  LÝ  HÓA  SINH    SỬ   ĐỊA  GDCD  ANH  KHTN  KHXH  KHỐI A  KHỐI B  KHỐI C KHỐI D  KHỐI A1
157413  3001910   6.4  7.75 NaN  NaN   NaN  4.75  7.75   9.0  4.8   NaN  7.17     NaN     NaN   20.25  18.95      NaN

In [72]:
# Check 4.csv
items_df[items_df['SBD'] == 5002915]

            SBD  TOÁN  VĂN  LÝ  HÓA  SINH    SỬ   ĐỊA  GDCD  ANH  KHTN  KHXH  KHỐI A  KHỐI B  KHỐI C KHỐI D  KHỐI A1
162512  5002915   1.4  2.0 NaN  NaN   NaN  2.25  5.25  4.25  3.4   NaN  3.92     NaN     NaN     9.5    6.8      NaN

In [50]:
df_HaGiang = pd.read_csv('Data/4.csv')
df_HaGiang

          SBD  TOÁN   VĂN    LÝ   HÓA  SINH    SỬ   ĐỊA  GDCD  ANH  KHTN  KHXH  KHỐI A  KHỐI B  KHỐI C  KHỐI D  KHỐI A1
0     5002915   1.4  2.00   NaN   NaN   NaN  2.25  5.25  4.25  3.4   NaN  3.92     NaN     NaN    9.50    6.80      NaN
1     5000921   5.6  4.75  6.50  3.75  3.50  2.75  6.75  7.75  2.4  4.58  5.75   15.85   12.85   14.25   12.75    14.50
2     5000863   3.8  3.50  2.75  2.75  2.75  2.50  3.75  5.25  4.0  2.75  3.83    9.30    9.30    9.75   11.30    10.55
3     5000867   2.4  2.75  2.00  3.50  3.25  4.25  5.00  6.75  3.0  2.92  5.33    7.90    9.15   12.00    8.15     7.40
4     5000909   9.4  3.25  9.00  3.25  3.00   NaN   NaN   NaN  9.6  5.08   NaN   21.65   15.65     NaN   22.25    28.00
...       ...   ...   ...   ...   ...   ...   ...   ...   ...  ...   ...   ...     ...     ...     ...     ...      ...
3094  5003209   2.6  4.00   NaN   NaN   NaN  4.25  4.50  6.25  2.6   NaN  5.00     NaN     NaN   12.75    9.20      NaN
3095  5003213   2.8  3.75   NaN   NaN   NaN  3.25  4.50  4.50  2.6   NaN  4.08     NaN     NaN   11.50    9.15      NaN
3096  5003217   4.0  2.75   NaN   NaN   NaN  3.50  3.25  6.00  1.4   NaN  4.25     NaN     NaN    9.50    8.15      NaN
3097  5003220   2.0  3.25   NaN   NaN   NaN  2.00  4.75  6.25  3.0   NaN  4.33     NaN     NaN   10.00    8.25      NaN
3098  5002871   4.6  6.50   NaN   NaN   NaN  5.00  6.50  7.75  2.6   NaN  6.42     NaN     NaN   18.00   13.70      NaN

[3099 rows x 17 columns]